Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

URxvt*geometry: 80x22
URxvt.perl-ext: default,url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/firefox -new-tab
URxvt.url-select.underline: true

URxvt*scrollBar: false
URxvt*mouseWheelScrollPage: true


URxvt*buffered: yes
URxvt*letterSpace              : -1
URxvt*font: xft:Fira Mono OT:size=8
URxvt*boldItalicFont: xft:Fira Mono OT:size=8

URxvt*background: #090909
URxvt*foreground: #A9A9A9

URxvt*colorn: #938B5D
URxvt*colorBD: #B0B0B0
URxvt*colorIT: #B0B0B0
URxvt*colorUL: #455C38

! Black (not tango) + DarkGrey
*color0:  #060606
*color8:  #555753
! DarkRed + Red
*color1:  #741C1C
*color9:  #4F0B0B
! DarkGreen + Green
*color2:  #394E22
*color10: #243018
! DarkYellow + Yellow
*color3:  #5C4415
*color11: #A4832D
! DarkBlue + Blue
*color4:  #2B365C
*color12: #1A2137
! DarkMagenta + Magenta
*color5:  #4C2D55
*color13: #341C3C
!DarkCyan + Cyan
*color6:  #214364
*color14: #202E3B
! LightGrey + White
*color7:  #6D6D6D
*color15: #cccccc


